<!DOCTYPE html>
<html>
<head>
  <style>
  </style>
  <meta charset="utf-8"><title>Error en envío de REPORTE DE SISTEMAS AUXILIARES </title>
</head>
<body>

<p>Estimados Ingenieros,</p>

<p>Por medio del presente se notifica un error en el envío del reporte:</p>

<table style="border-collapse: collapse; width: 100%; border: 1px solid black;">

  <tbody>
    <tr style="background-color: #d1e0e0;">
        <th scope="col" >DETALLE DEL ERROR</th>
    </tr>
    <tr>
        <td><div>#ERROR</div></td>
    </tr>

  </tbody>
</table>

<p>Revise el archivo "mail.log" para más detalles</p>
<br>
<div>Saludos Cordiales,</div>
<div>Sistemas Auxiliares</div>

</body>
</html>